:root {
	--primary-font: 'Arial', sans-serif;
	--secondary-font: 'Times', serif;
	--text-color: #2f2929;
	--primary-color: rgb(0, 38, 255);
	--secondary-color: #834a00;
	--grey: rgb(177, 177, 177);
	color: var(--text-color);
	font-family: var(--primary-font);
	cursor: default;
	font-size: 16px;
	letter-spacing: 0.0025em;
	-webkit-animation: var(--fade-in-effect);
	-moz-animation: var(--fade-in-effect);
	-ms-animation: var(--fade-in-effect);
	-o-animation: var(--fade-in-effect);
	animation: var(--fade-in-effect);
}

::selection {
	background: var(--text-color);
	color: #fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

html,
body,
ul {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0 auto;
}

/* ------------------------------------------ */
/* STYLING FOR TOP & BOTTOM 1616 TITLE HEADER */
/* ------------------------------------------ */

header,
main,
footer {
	/* width: 50%;
	min-width: 800px; */
	margin: 0 1rem;
}

header,
footer {
	text-align: center;
	font-family: var(--secondary-font);
}

header h3 {
	margin-bottom: 0.5rem;
}

.header-menu {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	padding: 1rem 0;
}

.header__container p {
	margin: 0.25em 0 0 0;
	font-size: 10px;
}

.header__container img {
	min-width: 20%;
	height: 48px;
	width: auto;
}

.menu__container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.nav-dropdown select,
.tab__container {
	padding: 0 1rem;
}

.nav-dropdown {
	color: var(--text-color);
	background: white;
	cursor: pointer;
	display: grid;
	align-items: center;
	grid-template-areas: 'select';
	padding: 0;
	font-family: var(--primary-font);
	height: 100%;
	grid-column: 2;
}

.nav-dropdown::after {
	content: '';
	width: 0.8em;
	height: 0.5em;
	background-color: var(--text-color);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	grid-area: select;
	justify-self: end;
	margin-right: 1rem;
}

.nav-dropdown select {
	width: 100%;
	text-align: center;
	appearance: none;
	outline: none;
	border: none;
	border-radius: 0;
	background: transparent;
	cursor: inherit;
	font-family: inherit;
	font-size: 1rem;
	line-height: inherit;
	margin: 0;
	grid-area: select;
	border-radius: 0.5rem;
	box-shadow: #d5d5d5 0 0 12px 4px inset;
	padding: 0.15rem 0;
}

.nav-dropdown select::-ms-expand {
	display: none;
}

.tab__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	grid-column: 3;
}

.tab--item {
	color: var(--text-color);
	background: white;
	font-weight: normal;
	font-size: 1rem;
	text-transform: capitalize;
	text-align: center;
	width: inherit;
	margin: 0;
	border: 1px solid white;
	border-radius: 100%;
	cursor: pointer;
}

.op1 button,
.op2 button,
.op3 button {
	width: calc(100% / 2);
}

.op4 button {
	width: calc(100% / 3);
}

/* GENERAL WEBSITE STYLING */

.page-section {
	display: none;
	text-align: center;
}

.exhibition,
.archive,
.printed,
.artists {
	display: block;
}

.active,
.active:hover,
h5 {
	color: var(--primary-color);
  border: 1px dotted var(--primary-color);
  border-radius: 0.5rem;
}

/* .active::before {
	content: '(';
	color: var(--primary-color);
}

.active::after {
	content: ')';
	color: var(--primary-color);
} */

h2,
h5 {
	font-weight: normal;
}

h2 {
	margin: 0;
	font-size: 2rem;
}

h5 {
	text-transform: uppercase;
	font-size: 0.85rem;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

img {
	width: inherit;
}

.main__wrapper,
.menu__container {
	margin: 0 calc(0.5em +  1vw);
	grid-column: 2;
}

.placeholder {
	text-align: center;
	font-family: var(--secondary-font);
	margin: 0 auto;
	font-style: italic;
}

.exhibition__container,
.archive__container,
.printed__container,
.artists__container {
	text-decoration: none;
}

.exhibition--details h2,
.printed--item,
.artists__container a {
	font-family: var(--secondary-font);
}

.exhibition--details,
.printed--item,
.artists__container a {
	text-decoration: none;
}

.exhibition--content {
	width: 100%;
}

.exhibition__container,
.archive__container,
.artists__container {
	margin: 1rem 0;
}

.printed--item,
.artists__container a {
	color: var(--text-color);
}

/* --> exhibition page */
.exhibition .exhibition--details {
	width: 50%;
	margin: 2rem auto;
	word-break: keep-all;
	max-width: 800px;
}


.exhibition .exhibition--details h2 {
	color: var(--text-color);
	line-height: 1.48ch;
	margin: 0.5rem 0;
}

.exhibition .exhibition--details p {
	padding: 0;
	font-size: 2rem;
margin: 0;
}

.exhibition .exhibition--details h2:nth-of-type(1) {
	text-transform: uppercase;
	font-size: calc(3em + 2vw);
}

.exhibition .exhibition--details h2:nth-of-type(2) {
	color: var(--grey);
	font-size: 2rem;
}

.exhibition img {
	width: 60vh;
  margin: 1rem auto;
		max-width: calc(50vw - calc(0.5em + 1vw)*2);
		min-width: 500px;
  border: 1px inset black;
  padding: 1px;
}

/* --> archive page */
.archive .archive__container section {
	display: flex;
	flex-direction: column;
}

.archive .archive__container .exhibition--details {
	margin: 0.5rem 0;
}

.archive .archive__container p {
	margin: 0 0 0.25rem 0;
}

/* --> printed page */
.printed__container {
	margin: 2.5rem 0;
}

.printed__container p {
	margin: 0;
}

.printed .printed__container section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.printed .printed__container .printed--item {
	width: calc(100% / 3);
	height: fit-content;
	padding: 0 1rem;
	margin-bottom: 4rem;
}

.printed .printed__container .printed--item img {
	/* height: 100%; */
	width: auto;
}

.printed .printed__container .printed--item p:first-of-type {
	font-family: var(--primary-font);
}

/* --> artist page */
.artists .artists__container a {
	font-size: 2rem;
	font-family: var(--primary-font);
}

.artists .artists__container a:hover {
	font-style: italic;
}

.artists .artists__container a:not(:last-of-type)::after {
	content: ', ';
}

/* Break points for smaller Screens  */
@media (max-width: 1024px) {
	header,
	nav,
	main,
	footer, .exhibition .exhibition--details {
		width: 95%;
		min-width: 95%;
	}

		header,
	nav,
	main,
	footer{
		margin: 0 auto;
	}
	
}

@media (max-width: 780px) {
	.printed--flex .printed--item {
		width: 50%;
	}

	.main__wrapper,
.menu__container {
	margin: 0 auto;
}

.exhibition img {
		width: 90%;
		min-width: 90%;
		max-width: 90%;
	}

}

/* ---------------------------- */
/* STYLING FOR EXHIBITION PAGES */
/* ---------------------------- */

.page-exhibition nav {
	width: 100%;
	margin: 1rem 0;
}

.page-exhibition nav span {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.page-exhibition nav a:hover p {
	font-style: italic;
}

.page-exhibition header nav span {
	border-bottom: 1px solid var(--text-color);
}

.page-exhibition header nav span p {
	padding-bottom: 0.25rem;
}

.page-exhibition footer nav span {
	border-top: 1px solid var(--text-color);
}

.page-exhibition footer nav span p {
	padding-top: 0.25rem;
}

.page-exhibition nav span p {
	font-size: 0.85rem;
	text-transform: uppercase;
	font-family: var(--primary-font);
	margin: 0;
}

.page-exhibition .exhibition__header {
	margin: 2rem 0;
	text-align: center;
}

.page-exhibition .exhibition__header h2:first-of-type {
	margin-bottom: 1rem;
}

.page-exhibition .exhibition__header h2 + h2 {
	font-family: var(--secondary-font);
}

.page-exhibition .exhibition__header h2:nth-of-type(3) {
	color: var(--grey);
}

.page-exhibition .exhibition__content {
	width: 100%;
	margin-bottom: 3rem;
}

.page-exhibition .exhibition__content p {
	line-height: 1.24rem;
	text-align: justify;
}

.page-exhibition .exhibition__content .para--title {
	font-style: normal;
	text-transform: uppercase;
}

.page-exhibition .exhibition__content .link--primary {
	color: var(--primary-color);
}

.page-exhibition .exhibition__content .link--secondary {
	text-decoration: underline;
}
